{% extends 'base.html' %}
{% load static %}

{% block title %}
    Bootshop online Shopping Cart
{% endblock %}

{% block content %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
            <li class="active"> SHOPPING CART</li>
        </ul>
        <h3> SHOPPING CART [ <small>{{ user.basket_set.all.count }} Item{% if user.basket_set.all.count > 1 %}s
        {% endif %} </small>]<a href="products.html"
                                class="btn btn-large pull-right"><i
                class="icon-arrow-left"></i> Continue Shopping </a></h3>
        <hr class="soft">


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity/Update</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for basket_product in user.basket_set.all %}
                <tr>
                    <td><a href="{% url 'product_detail' basket_product.product.id %}"><img width="60"
                                                                                    src="{{ basket_product.product.image.url }}"
                                                                                    alt=""></a></td>
                    <td>{{ basket_product.product.description|truncatechars:70|safe }}</td>
                    <td>
                        <div class="input-append"><label for="appendedInputButtons"></label><input class="span1"
                                                                                                   style="max-width:34px"
                                                                                                   placeholder="{{ basket_product.count }}"
                                                                                                   id="appendedInputButtons"
                                                                                                   size="16"
                                                                                                   type="text">
                            <button class="btn" type="button"><i class="icon-minus"></i></button>
                            <button class="btn" type="button"><i class="icon-plus"></i></button>
                            <button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>
                        </div>
                    </td>
                    <td>${{ basket_product.product.price|floatformat:2 }}</td>
                    <td>{{ basket_product.product.sale_percent }}%
                    </td>
                    <td>${{ basket_product.total_price_of_products }}</td>
                </tr>
                {% if forloop.last %}
                    <tr>
                        <td colspan="5" style="text-align:right">Total Price:</td>
                        <td> ${{ total_price }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="5" style="text-align:right"><strong>TOTAL =</strong></td>
                <td class="label label-important" style="display:block"><strong> ${{ total_price }} </strong></td>
            </tr>
            </tbody>
        </table>


        <a href="{% url 'products' %}" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
        <a href="{% url 'login' %}" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>

    </div>
{% endblock %}