{% extends 'base.html' %}
{% block content %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Change password</li>
        </ul>
        <h3> Change password</h3>
        <div class="well">
            <form class="form-horizontal" action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                <h4>Change your password</h4>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Old Password <sup>*</sup></label>
                    <div class="controls">
                        <input type="password" id="inputPassword1" placeholder="Old Password" name="old_password"
                               autocomplete="new-password"
                               required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">New Password <sup>*</sup></label>
                    <div class="controls">
                        <input type="password" id="inputPassword1" placeholder="Password" name="new_password1"
                               autocomplete="new-password" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Password Confirmation <sup>*</sup></label>
                    <div class="controls">
                        <input type="password" id="inputPassword1" placeholder="Password" name="new_password2"
                               autocomplete="new-password" required>
                    </div>
                </div>
                <div class="control-group">
                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="alert alert-block alert-error fade in">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <strong>{{ field.label_tag }}</strong>
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if messages %}
                        <div class="alert alert-success">
                            {% for m in messages %}
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="controls">
                        <input class="btn btn-large btn-success" type="submit" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}