{% extends 'base.html' %}

{% block content %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Forget password?</li>
        </ul>
        <h3> FORGET YOUR PASSWORD?</h3>
        <hr class="soft"/>

        <div class="row">
            <div class="span9" style="min-height:900px">
                <div class="well">
                    <h5>Reset your password</h5><br/>
                    Please enter the email address for your account. A verification code will be sent to you.
                    Once you have received the verification code, you will be able to choose a new password for
                    your account.<br/><br/><br/>
                    <form action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label" for="inputEmail1">E-mail address</label>
                            <div class="controls">
                                <label for="id_email"></label><input class="span3" placeholder="Email" type="email"
                                                                     name="email" autocomplete="email"
                                                                     maxlength="254" required="" id="id_email">
                            </div>
                        </div>
                        {% if messages %}
                            <div class="alert alert-success">
                                {% for m in messages %}
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="controls">
                            <button type="submit" class="btn block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}